* {
    font-variant-ligatures: none;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(circle at top, #1c1f35, #0f1120);
}